@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    margin: 0;
    padding: 0;
    font-size: 65.2%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    background-color: #538a9b;
}



.src_box {
    background-color: #c0d5d7;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#btn_src {
    background-color: #538a9b;
    border-radius: 45%;
}

#city_src {
    width: 50%;
}

.current_weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.display_box {

    box-shadow: 0px 0px 5px 0px #000000;
    background-image: url('https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2340&q=80');
    background-size: cover;
    background-color: #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}

.day_temp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.day_temp p {
    margin: 0;
    color: rgb(255, 255, 255);
}

.wtr_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

#wtr_description {
    text-transform: capitalize;
}

