<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meteo App</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="../js/script.js"></script>
</head>

<body>

  <div class="src_box">

    <input id="city_src" class="form-control me-5" type="search" placeholder="Search city" aria-label="Search">
    <button id="btn_src" class="btn" type="submit" (click)="searchCity()">🔍</button>

  </div>

  <div class="container current_weather">

    <div class="display_box">

    </div>

  </div>

</body>

</html>